<.topnav current_user={@current_user} />

<main class="pt-16 min-h-screen bg-t66-bg">
  <div class="max-w-5xl mx-auto px-4 sm:px-6">
    <.flash_group flash={@flash} />
  </div>
  {@inner_content}
</main>
